ul#menu li {
    display:inline;
    background-color: aqua;
}

#centerDiv {
    margin: 0 auto;
    text-align: center;
}

#resultTable {
    margin: 0 auto;
}

#badCredentials {
    color: red;
    font-weight: bold;
}

#loginForm {
    margin: 0 auto;
    width: 250px;
}

.mybutton {
    border: none;
    background-color: inherit;
    /*padding: 14px 28px;*/
    /*font-size: 16px;*/
    color: #377BB6;
    font-weight: bold;

    cursor: pointer;
    display: inline-block;
}

.mybutton:hover {
    color: #4189C8;
    font-weight: bold;
}

.mynavright {
    /*margin-right: 0px;*/
    float: right;
    /*border: 3px solid #73AD21;*/
    /*right: 0px;*/
}

.mynavleft {
    margin-right: 0px;
    float: left;
    border: 3px solid #4e65ad;
    /*right: 0px;*/
}

.mynavcenter {
    border: 3px solid #ad5187;
}

.mynavoutern {
    border: 3px solid #cbd139;
}

.mycell {
    margin: 0px auto;
}